includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - utils
    excludePaths:
        - utils/PHPStan/tests/GetHelperRule/Fixtures
rules:
    - Utils\PHPStan\GetHelperRule
